*{
    margin:0; 
    padding:0px;
}  


.first-item{
    display: flex; 
    gap: 20px; 
    margin-left:20px; 
    font-size:30px;
} 
.top-ber { 
    display: flex; 
    justify-content: space-between; 
    color: rgb(1, 19, 19); 
    background-color: rgb(255, 246, 246);  
    padding:20px;


} 
.contact-item { 
    display: flex;
    gap: 20px;

} 
.fa-whatsapp {
font-size:30px;
} 
.fa-facebook {
font-size:30px;
} 
.fa-telegram {
    font-size:30px;
} 
 
.fa-envelope-open-o:before {
    content: "\f2b7";
    MARGIN: xp;
    margin: -40px;
}

 
li{
    list-style:none; 
    margin: 20px;

} 
a{
    text-decoration: none;
    font-size: 30px; 
}
 .mega-menu{
    display:none; 
    position: absolute; 
    background-color: rgb(238, 238, 243); 
    width:1700px; 
    left:0; 
    gap:100px; 
    padding:40px; 
    justify-content: space-between;
 } 
  
.dropdown-main:hover .mega-menu {
    display: flex;
} 
.mega-menu-container h3 {
    font-size:40px;
color: aqua;
    border-bottom:2px solid rgb(241, 240, 243);
}  
.mega-menu-list{
    margin-top:10px; 
    font-size:14px; 
    margin-bottom:20px;
}    
.mega-menu-list li:hover a{
    border-bottom:2px solid rgb(113, 217, 8);
} 
/* .desgin-colour {color: aqua; 
} */

header>ul{
    display: flex; 
    font-size:20px; 
    color: rgb(243, 240, 242);
}   
header{
    display: flex; 
    justify-content: space-between; 
    background-color: rgb(247, 240, 247); 
    width: 1520px; 
    height:120px; 
} 
.bg-img{
    background:url(./lovepik-vegetable-food-background-material-picture_501697070.jpg); 
    width:100%; 
    height: 600px; 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
     align-items: center; 
     
}  
.bg-img h1{
    font-size:50px; 
    color: rgb(14, 15, 15); 
    
} 
.bg-img p{
    font-size:40px; 
    color: rgb(0, 11, 11);
} 
.heroheading{
    background-color: rgb(245, 245, 249); 
    width:100% ; 
    height:900px;  
    align-items: center; 
    justify-content: flex-start;   
    display: flex;   
    flex-direction: column;
         
} 
.heroheading h1{
color: rgb(15, 16, 16); 
font-size:40px;
} 
.heroheading p{
    color: rgb(0, 17, 11); 
    font-size:30px;
} 

 .hero{
    background:rgb(11, 11, 11); 
    width:200PX; 
    height: 4px; 
    margin: top 10px; 
    margin-left:10PX;
 }  

.herosection{
    display: flex;  
    flex-direction: column;
    width:800px; 
text-align: left;
} 
.heropart {
    
    display: flex; 
    gap: 30px;
    
}    
.heropart p {
    font-size: 35px; 
    
}
.picture{
    display: flex; 
    
} 
.picture1{
width:230px; 
height:110px;
margin-left: 150px; 
margin-bottom: 40px;
}

.picture2{
    width:230px; 
    height:110px;
    margin-left: 80px;  
    margin-right: 10px;
    margin-bottom:40px; 
    
}

.side-img{
    width:550px; 
    height:300px;   
    margin-left:150px; 
    margin-bottom: 70px; 
    margin-top: 10px;
    margin-right:20px;
    
} 
.slider-section{
    background:url(./premium_photo-1713459199367-e0e59dd311e0.avif); 
    width:100%; 
    height: 800px; 
    background-size: cover;  
    background-position:center;
   
     margin-top:10px;
}  

.slider-section img {
height:500px; 
width:500px;
 margin:0 auto;
}
.slider-section h1 {
    font-size:110px; 
    color: rgb(10, 10, 10);  
    text-align: center; 
    margin-top:-200px;   
    
}   

.slick-prev::before,
.slick-next::before {
    color:rgb(8, 1, 8);
    font-size: 2.5rem;
}

.slick-prev,
.slick-next {
    width: 2.5rem;
    height: 2.5rem;
    z-index: 2;
}

.slick-list {
    width: 95%;
    margin: 0 auto;
}

.slick-prev {
    left:30%;
}

.slick-next {
    right:30%;
} 
.dots{
    color: rgb(255, 38, 0);
} 
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: -80px;
    left: 1;
    width: 35px;
    height: 35px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: rgb(6, 6, 202);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 
.form-part {
    
   background-color: rgb(244, 250, 250);
    width:100% ; 
    height:600px;  
    align-items: center; 
    justify-content: flex-start;   
    display: flex;   
    flex-direction: column; 
    margin-top:10px;  
}  
.form-part h1 {
    font-size:30px; 
    margin-top:50px; 
    color: rgb(0, 16, 16);
} 
.form-part p{
    font-size:50px; 
    margin-top:20px; 
    color: rgb(16, 15, 15);
} 
.form{
    background:rgb(11, 11, 11); 
    width:250PX; 
    height: 8px; 
    margin: top 10px; 
    margin-left:10PX;  
}  
input.password {
    width: 300px;
    height: 50px;
    border-bottom-right-radius: inherit;
    font-size: 20px;
    /* color: violet; */
}
.Marufa-22{
    display: flex; 
    gap:60px; 
    
} 
.boxpart{
    background-color:rgb(224, 227, 225); 
    width:100% ; 
    height:800px;  
   margin-top: 10px;  
  
    align-items: center; 
    justify-content: flex-start;   
    display: flex;  
    flex-direction: column; 
     


} 
.boxpart h1{
    font-size:30px; 
    margin-top:50px; 
    color: rgb(17, 18, 18);
}  
.boxpart h3{
    font-size:30px; 
    margin-top:50px; 
    color: black; 
    
} 
.boxses{
    background:rgb(11, 11, 11); 
    width:200PX; 
    height: 4px; 
    margin: top 10px; 
    margin-left:10PX;
 }   
 .boxsize{
    width:300px; 
    height:550px; 
    background:rgb(55, 55, 56);
    border-radius:20px; 
    border:1px; 
    box-shadow:0 10px 4px -5px; 
    display:flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items:center; 
    font:size18px;
    color: rgb(241, 249, 249); 
    font-weight:600; 
    padding:10px; 
    margin-top:40px; 
    gap: 35px;
}   

 
.under-box{
    
        display: flex; 
        justify-content: center; 
        gap: 25px;
}
.boxsize:hover{
    background-color: violet;
} 
.last-part {
    background-color:rgb(253, 243, 245); 
    width:100% ; 
    height:1000px;   
    
}  
.First-part{
      
    align-items: center; 
    justify-content: flex-start;   
    display: flex;   
    flex-direction: column; 
    margin-top:10px;  
}  

 .last{
    background:rgb(33, 31, 31); 
    width:250PX; 
    height: 8px; 
    margin: top 40px;  
    
 } 
 .First-part h1 {
    font-size:25px;
    color: rgb(10, 0, 14);
 } 
 .First-part p{
    font-size: 40px;
    color: rgb(0, 12, 12);
 } 

 .Menu-side>ul{
     display: flex; 
     font-size:10px; 
    margin-left:500px;   
 } 
 .our-menu-types {
    display: flex; 
    margin-top:40px;
 }  
 .our-menu-types h1{
    font-size: 20px; 
    color: black;
 } 
 .our-menu-types p{
    font-size:10px; 
    color: black;
 } 
 .our-menu-types hr{ 
    border:none;
    border: 2px dashed black;  
    width:200px ;
 } 
 .our-full-menu-side{
    display: flex;  
    justify-content: center; 
    align-items: center;
    gap: 100px;
 }   
 .explore-menu{
    font-size:30px; 
    color: beige; 
    background-color: blueviolet; 
    align-items: center; 
    justify-content: center; 
    margin-top: 50px; 
    margin-left: 600px;
 }  
 .trusted-by {  
    display: flex;
    align-items: center; 
    justify-content: center;  
    flex-direction: column; 
    margin-top: 50px;
    
    
 }
 .trusted-by h1{
    font-size:40px; 
    color: rgb(16, 16, 16);
 } 
.trusted-by p{
    font-size:20px; 
    color: rgb(10, 1, 19);
} 
.trusted-by hr {
    width:200px; 
    border:2px double white; 
    margin-top: 30px;
}   


.image-part img{
    width:200px; 
    height:80px;
} 
.image-part{
display: flex; 
margin-top: 30px; 
gap: 40px; 
align-items: center; 
justify-content: center;
} 
.slider-section-22{
    background:url(./360_F_292203735_CSsyqyS6A4Z9Czd4Msf7qZEhoxjpzZl1.jpg); 
    width:100%; 
    height: 800px; 
    background-size: cover;  
    background-position:center;
   
     margin-top:10px;  
}  

.side-slider p {
    font-size: 30px; 
    color: azure;   
    width: 700px; 
    margin-left: 400px;
    margin-top: 100px;
    
}  
.picture-12 {
    margin-left: 550px; 
    margin-top:100px;
}
.instagrame-part{
    width:100%; 
    height: 130px; 
    background-color:rgb(224, 208, 211);
}
.instagrame-part h1{
    font-size: 50px; 
    margin-left:600px;
} 
.instagrame-part p{
    font-size:30px; 
    margin-left:480px;
} 
.instagrame-part hr{
    width:200px; 
    border:2px double rgb(9, 9, 9);  
    margin-left:620px; 
    margin-top:15px;
    
} 
.subscribe-part{
    width:100%; 
    height: 130px; 
    background-color:rgb(154, 140, 140);   
    background-size: cover; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    gap:60px; 
    padding: 10px; 
    margin-top:40px;
    
}
.subscribe-part h1{
    font-size:60px; 
    margin-left:-200px;
} 
.subscribe-part p{
    font-size: 20px; 
    margin-top:20px;
} 
 .email{
    padding:10px; 
    font-size: 15px; 
    border: 1px solid rgb(33, 8, 198); 
    margin-top:10px;
 }

.button-icon{
    width:40px; 
    background-color: rgb(116, 107, 124); 
    margin-top:10px;
} 
.email-part{
    display: flex; 
    gap:10px;
} 
.fa-angle-right{
    font-size:40px; 
    color: aqua;
}
